$color-background:#eaeaea;
$color-background-loader:whitesmoke;
$color-header:#ffffff;
$color-title:#faf9f9;
$color-primary:#9356DC;
$color-icon:#97a8af;
$color-tertiaire:#99E2D0;
$color-green:#3a866f;
$color-finale:#332e2c;
$color-gradient:-webkit-linear-gradient(-90deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 80%);
$color-gradient-boutton:linear-gradient(0deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 97%);
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;    
}
@mixin flex-between {
    display: flex;
        justify-content: space-between;
        align-items: center;
}
@mixin color-icon-gradient {
    -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
$breakpoints: (
    // "phone-down": 500px,
    "tablet-pc": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
         @content; 
    }
}


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:$color-background;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.container{
    position: fixed;
    @include flex-center;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #333;
    animation: 3s ease-out 0s 1 both point ;

}

@keyframes point {
    0%{
        opacity: 0.8;
    }
    100%{
        opacity: 0.8;
        visibility: hidden;
    }
}
.loader {
    div{
        width:18px;
        height: 18px;
        background: $color-background-loader;
        border-radius: 50%;
        display: inline-block;
        animation: troispoints 0.5s infinite ease-in-out alternate;
    }
    .ball1{
        animation-delay: -0.3s;
    }
    .ball2{
        animation-delay: -0.15s;
    }

}

@keyframes troispoints {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
header{
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.25);
    background-color: $color-header;
.img {
    text-align: center;
    padding: 20px 0 10px 0;
    img {
        width: 200px;
    }
}
}
.ville {
    @include flex-center;
    width: 100%;
    padding: 20px 0;
    input {
        border: transparent;
        padding-top: 10px;
        padding-left: 10px;
        background-color: $color-background;
        &::placeholder{
            color: black;
            font-size: 1.1rem;

        }
    }
}

.title {
    background-color: $color-title;
    height: 310px;
    h1 {
        text-align: center;
        padding: 20px 55px 0 55px;
    }
    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 1.3rem;
        padding:20px 0 36px ;
        
    }
    
    button {
        @include flex-center;
        border: transparent;
        width: 15rem;
        border-radius: 30px;
        font-weight: 400;
        color: white;
        font-size: 1rem;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        cursor: pointer;
         background: $color-gradient-boutton;
        -webkit-box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.2); 
        box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.2);
        &:hover {
            background: linear-gradient(0deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 50%); 
            box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.3);
        }
    }
}

.fonctionnement {
    background-color: $color-header;
    height: 420px;
    @include media-min("tablet-pc") {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        padding: 40px 0 30px 0;
        
    }   
}
.wrapper {
    padding: 0 20px;
}
.selection {
    display: flex;
    flex-direction: column;
}
    .selection_menu {
        position: relative;
        display: flex;
        align-items: center;
        background-color: $color-title;
        width: 100%;
        border-radius: 20px;
        padding: 25px 0;
        margin-bottom: 25px;
        -webkit-box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.2); 
        box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.2);
        @include media-min("tablet-pc"){
            width: 80%;
        }
    
        &::before{
            content: "1";
            position: absolute;
            @include flex-center;
            border-radius: 50%;
            background-color: $color-primary;
            color: white;
            left: -12px;
            width: 25px;
            height: 25px;
        }
        
        .icon_fonct{
            font-size: 20px;
            color: $color-icon;
            margin: 0 30px 0 40px;
        }
        &:hover {
            background:lighten($color-primary,35%);
            .icon_fonct{
                color: $color-primary;
            }
        }
    }
    .compo_menu{
        &::before{
            content: "2";
        }
    }
    .degust_menu{
        &::before{
            content: "3";
        }
    }

    .city_name {
        font-size: 22px;
    }

    .repas{
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 60px;
        @media (min-width: 768px) {
            width: 268px;
             }
            .img_rest{
                width: 100%;
                height: 193px;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
                
            
        }
            a {
              color: black;
            }
          
        
    }
    .card_repas {
        position: relative;
        div { 
          background-color: $color-tertiaire;       
          position: absolute;
        right: 10px;
          font-size: 15px;
          margin-top: 14px;
          color: $color-green;
          font-weight: 800;
         padding: 8px 14px;
        }
    }
    .card_repas_name {
        @include flex-between;
         font-size: 25px;
        padding:10px 5px;
    }
    .coeur{
         position: relative;   
         height: 30px;
         width: 30px;
         right: 13px;
         top:-3px;
        
         .fas{
             position: absolute;
             z-index: -1;
             background:$color-gradient;
             @include color-icon-gradient;
             }
         
        .far{
            position: absolute;
        }
        &:hover{
            .fas{
                z-index: 0;
                animation: 0.5s 0s both mk;
            }
            .far{
                z-index: -1;
            }
        }
    }

    @keyframes mk {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
    .title_rest{
        padding: 40px 0 20px 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .title_footer {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
        color: white;
        padding: 20px 0;

    }
    .final{
        background-color: $color-finale;
        height: 200px;
        @include media-min("tablet-pc") {
            font-size: 1.5rem;
            height: 220px;
        }
    }

    .icon_footer {
        font-size: 10px;
        padding-right: 5px;
    }
    li{
        padding-bottom: 5px;
        list-style-type:none;
    }
    h3{
        a{
            color: black;
        }
    }

   .repas-finale{
    @include media-min("tablet-pc") {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
   }