*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #333;
  -webkit-animation: 3s ease-out 0s 1 both point;
          animation: 3s ease-out 0s 1 both point;
}

@-webkit-keyframes point {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
    visibility: hidden;
  }
}

@keyframes point {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
    visibility: hidden;
  }
}

.loader div {
  width: 18px;
  height: 18px;
  background: whitesmoke;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: troispoints 0.5s infinite ease-in-out alternate;
          animation: troispoints 0.5s infinite ease-in-out alternate;
}

.loader .ball1 {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.loader .ball2 {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes troispoints {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes troispoints {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header {
  -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

header .img {
  text-align: center;
  padding: 20px 0 10px 0;
}

header .img img {
  width: 200px;
}

.ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0;
}

.ville input {
  border: transparent;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #eaeaea;
}

.ville input::-webkit-input-placeholder {
  color: black;
  font-size: 1.1rem;
}

.ville input:-ms-input-placeholder {
  color: black;
  font-size: 1.1rem;
}

.ville input::-ms-input-placeholder {
  color: black;
  font-size: 1.1rem;
}

.ville input::placeholder {
  color: black;
  font-size: 1.1rem;
}

.title {
  background-color: #faf9f9;
  height: 310px;
}

.title h1 {
  text-align: center;
  padding: 20px 55px 0 55px;
}

.title h2 {
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 20px 0 36px;
}

.title button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent;
  width: 15rem;
  border-radius: 30px;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#ac7cf0), color-stop(97%, #f172f7));
  background: linear-gradient(0deg, #ac7cf0 0%, #f172f7 97%);
  -webkit-box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.2);
}

.title button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#ac7cf0), color-stop(50%, #f172f7));
  background: linear-gradient(0deg, #ac7cf0 0%, #f172f7 50%);
  -webkit-box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.3);
}

.fonctionnement {
  background-color: #ffffff;
  height: 420px;
}

.fonctionnement h2 {
  padding: 40px 0 30px 0;
}

.wrapper {
  padding: 0 20px;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selection_menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #faf9f9;
  width: 100%;
  border-radius: 20px;
  padding: 25px 0;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.2);
}

.selection_menu::before {
  content: "1";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  left: -12px;
  width: 25px;
  height: 25px;
}

.selection_menu .icon_fonct {
  font-size: 20px;
  color: #97a8af;
  margin: 0 30px 0 40px;
}

.selection_menu:hover {
  background: #f2eafb;
}

.selection_menu:hover .icon_fonct {
  color: #9356DC;
}

.compo_menu::before {
  content: "2";
}

.degust_menu::before {
  content: "3";
}

.city_name {
  font-size: 22px;
}

.repas {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .repas {
    width: 268px;
  }
}

.repas .img_rest {
  width: 100%;
  height: 193px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.repas a {
  color: black;
}

.card_repas {
  position: relative;
}

.card_repas div {
  background-color: #99E2D0;
  position: absolute;
  right: 10px;
  font-size: 15px;
  margin-top: 14px;
  color: #3a866f;
  font-weight: 800;
  padding: 8px 14px;
}

.card_repas_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding: 10px 5px;
}

.coeur {
  position: relative;
  height: 30px;
  width: 30px;
  right: 13px;
  top: -3px;
}

.coeur .fas {
  position: absolute;
  z-index: -1;
  background: -webkit-linear-gradient(-90deg, #ac7cf0 0%, #f172f7 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coeur .far {
  position: absolute;
}

.coeur:hover .fas {
  z-index: 0;
  -webkit-animation: 0.5s 0s both mk;
          animation: 0.5s 0s both mk;
}

.coeur:hover .far {
  z-index: -1;
}

@-webkit-keyframes mk {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes mk {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.title_rest {
  padding: 40px 0 20px 0;
}

a {
  text-decoration: none;
  color: white;
}

.title_footer {
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
  color: white;
  padding: 20px 0;
}

.final {
  background-color: #332e2c;
  height: 200px;
}

.icon_footer {
  font-size: 10px;
  padding-right: 5px;
}

li {
  padding-bottom: 5px;
  list-style-type: none;
}

h3 a {
  color: black;
}

@media (min-width: 768px) {
  .repas-finale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style.css.map */