*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#eaeaea;
    font-family: 'Roboto', sans-serif;
}
header{
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.25);
    background-color: #ffffff;
.img {
    text-align: center;
    // border-bottom: 1px solid black;
    padding: 20px 0 10px 0;
    // box-shadow: 1px 10px 10px ghostwhite;
    img {
        width: 200px;
    }
}
}
.ville {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border-bottom:1px solid black ;
    // background-color: #eaeaea;
    padding: 20px 0;
    input {
        border: transparent;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #eaeaea;
        &::placeholder{
            color: black;
            font-size: 1.1rem;

        }
    }
}

.title {
    background-color: #faf9f9;
    height: 310px;
    h1 {
        text-align: center;
        // font-weight: 700;
        // border: 1px solid red;
        padding: 20px 55px 0 55px;
    }
    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 1.3rem;
        // border: 1px solid red;
        padding:20px 0 36px ;
        
    }
    $test:linear-gradient(0deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 97%);
    button {
        display: flex;
        justify-content: center;
        text-align: center;
        border: transparent;
        width: 15rem;
        border-radius: 30px;
        font-weight: 400;
        color: white;
        font-size: 1rem;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        cursor: pointer;
        // border :1px solid black;
        background: linear-gradient(0deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 97%);
        -webkit-box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.2); 
        box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.2);
        &:hover {
            background: linear-gradient(0deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 50%); 
            box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.3);
        }
    }
}

.fonctionnement {
    background-color: #ffffff;
    height: 420px;
    h2 {
        padding: 40px 0 30px 0;
        
    }   
}
.wrapper {
    padding: 0 20px;
}
.selection {
    display: flex;
    flex-direction: column;
}
    .selection_menu {
        position: relative;
        display: flex;
        // justify-content: center;
        align-items: center;
        background-color: #faf9f9;
        // border: 1px solid black;
        width: 100%;
        border-radius: 20px;
        padding: 25px 0;
        margin-bottom: 25px;
        -webkit-box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.2); 
        box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.2);
        &::before{
            content: "1";
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #9356DC;
            color: white;
            left: -12px;
            // border: 1px solid black;
            width: 25px;
            height: 25px;
        }
        
        .icon_fonct{
            font-size: 20px;
            color: #97a8af;
            margin: 0 30px 0 40px;
            // margin-left: 10px;
        }
        &:hover {
            // background-color: #9356DC;
            background:lighten(#9356DC,35%);
            .icon_fonct{
                color: #9356DC;
            }
        }
    }
    .compo_menu{
        &::before{
            content: "2";
        }
    }
    .degust_menu{
        &::before{
            content: "3";
        }
    }

    .city_name {
        font-size: 22px;
        // font-weight: normal;
    }

    .repas{
        // border: 1px solid red;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 60px;
            .img_rest{
                // position: relative;
                width: 100%;
                height: 193px;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            
        }
        
    }
    .card_repas {
        position: relative;
        div { 
          background-color: #99E2D0;       
          position: absolute;
        //   z-index: 10;
        //   left: 264px;
        right: 10px;
          font-size: 15px;
        //   border: 1px solid;
          margin-top: 14px;
          color: #3a866f;
          font-weight: 800;
         padding: 8px 14px;
        }
    }
    .card_repas_name {
        display: flex;
        justify-content: space-between;
        align-items: center;
         font-size: 25px;
        padding:10px 5px;
    }
    .coeur{
         position: relative;   
         height: 30px;
         width: 30px;
         right: 13px;
         top:-3px;
        
         .fas{
             position: absolute;
             z-index: -1;
            //  color: transparent;
            //  background-clip: text;
            //  background-image:linear-gradient(to right,purple, pink);
            background: -webkit-linear-gradient(0deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
             }
         
        .far{
            position: absolute;
        }
        &:hover{
            .fas{
                z-index: 0;
                animation: 0.5s 0s both mk;
            }
            .far{
                z-index: -1;
            }
        }
    }

    @keyframes mk {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
    .title_rest{
        padding: 40px 0 20px 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .title_footer {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
        color: white;
        padding: 20px 0;

    }
    .final{
        background-color: #332e2c;
        height: 200px;
    }
    .icon_footer {
        font-size: 10px;
        padding-right: 5px;
    }
    li{
        padding-bottom: 5px;
        list-style-type:none;
    }
    h3{
        a{
            color: black;
        }
    }
