 $color-background:#eaeaea;
 $color-background-loader:whitesmoke;
 $color-header:#ffffff;
 $color-title:#faf9f9;
 $color-primary:#9356DC;
 $color-icon:#97a8af;
 $color-tertiaire:#99E2D0;
 $color-green:#3a866f;
 $color-finale:#332e2c;
 $color-gradient:-webkit-linear-gradient(-90deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 80%);
 $color-gradient-boutton:linear-gradient(0deg, rgba(172,124,240,1) 0%, rgba(241,114,247,1) 97%);
 $vardelay:0.4s;
